a:link				{
					font-family:Tahoma;
					font-size:9pt;
					font-weight:normal;
					text-decoration:underline;
                    color:#000000;
					}

a:visited			{
					font-family:Tahoma;
					font-size:9pt;
					font-weight:normal;
					text-decoration:underline;
                    color:#000000;
					}

a:active			{
					font-family:Tahoma;
					font-size:9pt;
					font-weight:normal;
					text-decoration:underline;
                    color:#000000;
					}

a:hover				{
					font-family:Tahoma;
					font-size:9pt;
					font-weight:normal;
					text-decoration:none;
                    color:#000000;
					}
.treeview{
	margin:0px;
	padding:0px;
	font-family:Tahoma;
	font-size:9pt;
	font-weight:normal;
	color:#000000
}

.treeviewFolderUl {
	margin-left: 5px;
	padding-left: 0px;
}

.treeviewFolderLi {
    font-size:9pt;
	list-style-type:none;
	vertical-align:middle;
}
.lnktxt				{
					font-family:Tahoma;
					font-size:9pt;
					font-weight:normal;
					text-decoration:none;
					color:000000
					}

.lnktxt a:link		{
					font-family:Tahoma;
					font-size:9pt;
					font-weight:normal;
					text-decoration:none;
					color:000000
					}

.lnktxt a:visited	{
					font-family:Tahoma;
					font-size:9pt;
					font-weight:normal;
					text-decoration:none;
					color:000000
					}

.lnktxt a:active	{
					font-family:Tahoma;
					font-size:9pt;
					font-weight:normal;
					text-decoration:none;
					color:000000
					}

.lnktxt a:hover		{
					font-family:Tahoma;
					font-size:9pt;
					font-weight:normal;
					text-decoration:none;
					color:000000
					}

.cmb {
  font-family:Tahoma;
  font-size:9pt;
  font-weight:normal;
  text-decoration:none;
  color:#000000;
}
