.empresa-clean {
  background: #98b6cf;
  padding: 20px 0;
}

@media (max-width:800px) {
  .empresa-clean {
    padding: 20px 0;
  }
}
.centro { text-align: center; }

.empresa-clean form {
  max-width: 90%;
  width: 90%;
  margin: 0 auto;
  background-color: #bbb8c1;
  padding: 20px;
  border-radius: 12px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

@media (max-width:800px) {
  .empresa-clean form {
    padding: 20px;
  }
}

.empresa-clean .form-group:last-child {
  margin-bottom: 5px;
}
